<nav class='nav'>
    <ul class='nav__list'>
        <a href="/products"><li class='list__item'>Products</Link></li></a>
        <a href="/chat"><li class='list__item'>Chat</li></a>
        <a href="/realtimeproducts"><li class='list__item'>Real time products</Link></li></a>
    </ul>
</nav>
{{#if session}}
<div>
    <p>Welcome {{session.firstName}} {{session.lastName}}, email: {{session.email}}, role: {{session.role}}</p>
    <a href="/api/sessions/logout">Logout</a>
</div>
{{/if}}
<div>
    <h1 class="">All products</h1>
    <p>All the products will be added to the cart: 6475366957d3183d38f90598 </p>
    <br>
    <ul class="">
        {{#if payload}}
            {{#each payload}}
                <li class="">
                    <div>
                        <p class="">{{title}}</p>
                        <p class="">U$D{{price}}</p>
                        <p class="">{{description}}</p>
                        <p class="">id: {{_id}}</p>
                        <p class="">Code: {{code}}</p>
                        <p class="">Stock: {{stock}}</p>
                        <p class="">Category: {{category}}</p>
                        <p class="">Status: {{status}}</p>
                        <form action="/api/carts/6475366957d3183d38f90598/products/{{this._id}}" method="post">
                            <button type="submit" id={{_id}} class="">Add to cart</button>
                        </form>
                    </div>
                </li>
            {{/each}}
            <div class="">
                <div>
                    {{#if hasPrevPage}}
                        <a class="" href={{prevLink}}>Back</a>
                    {{/if}}
                </div>
                <div>
                    {{#if page}}
                        <p>{{page}}</p>
                    {{/if}}
                </div>
                <div>
                    {{#if hasNextPage}}
                        <a class="" href={{nextLink}}>Next</a>
                    {{/if}}
                </div>
            </div>  
                {{else}}
                    <div class="">
                        <hr>
                        {{#if message}}
                            <h3 class="">ERROR: {{message}}</h3>
                            <a href="/products" class="">Go back</a>
                {{else}}
                    <h3 class="">There are no products with the filters applied</h3>
                        {{/if}}
                    </div>
        {{/if}}
    </ul>
</div>
<script src="/static/products.js"></script>